<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin Goodslist</title>
    <script src="https://kit.fontawesome.com/e6f78261b2.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/admin/admin_nav.css">
    <link rel="stylesheet" href="/css/admin/admin_Goodslist.css">
</head>
<body>
    <nav th:replace="admin/admin_nav :: navFragment"></nav>
    <section>
        <form class= "search-form" id="search-form" method="get" action="#">
            <div class="form-group">
                <label class="form-label">판매상태</label>
                <span>
                    <label><input type="radio" name="salestatus" value="onsale" checked>정상판매</label>
                    &nbsp;
                    <label><input type="radio" name="salestatus" value="soldout">품절</label>
                </span>
            </div>
            <div class="form-group">
                <label class="form-label">상품분류</label>
                <span>
                    <select name="cmode">
                        <option value="whole">전체</option>
                        <option value="outer">OUTER</option>
                        <option value="top">TOP</option>
                        <option value="shirts">SHIRTS</option>
                        <option value="bottom">BOTTOM</option>
                        <option value="acc">ACC</option>
                        <option value="shoes">SHOES</option>
                        <option value="7dc">NEW 7% DC</option>
                        <option value="best30">BEST30</option>
                        <option value="sale">SALE</option>
                    </select>
                </span>
            </div>
            <div class="form-group">
                <label class="form-label">상품명</label>
                <span>
                    <input type="text" name="item_name">
                </span>
            </div>
            <div class="search-submit-box">
                <input type="submit" class="search-submit" value="검색">
            </div>
        </form>

        <div class="goods-box">
            <div class="goods-box-top">
                <div>
                    선택된상품을
                    <select class="manage_option">
                        <option value="onsale">정상판매</option>
                        <option value="soldout">품절</option>
                        <option value="deletegoods">상품삭제</option>
                    </select>
                    <input type="button" id="managebtn" value="변경">
                </div>
                <div class="num-searched-box">
                    총 <b class="num-searched">0</b> 개의 상품이 검색되었습니다.
                </div>
            </div>
            <table class="item-table">
                <colgroup>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="65%"/>
                    <col width="15%"/>
                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" class="checkbox-selectall"></th>
                        <th colspan="2">상품정보</th>
                        <th>판매상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${productList}">
                        <td><input type="checkbox" class="checkbox-select"></td>
                        <td><img th:src="@{${product.imgUrl}}" width="70px"></td>
                        <td>
                            <div class="item-name item-info"><a href="#" th:text = "${product.itemName} +'<'+ ${product.color}+'>'">베이직 카고 팬츠</a></div>
                            <div class="item-classification item-info" th:text = "'분류 : ' + ${product.firstCategory}">분류 : BOTTOM</div>
                            <div class="item-price item-info" th:text = "'가격 : ' + ${product.price}">가격 : 14000원</div>
                        </td>
                        <td>
                            <input type="button" th:if="${product.saleStatus.toString().equals('onsale')}" th:value="판매중">
                            <input type="button" id="soldoutbtn" th:if="${product.saleStatus.toString().equals('soldout')}" th:value="품절">
                        </td>
                        <input type="hidden" class="item_idx" th:value="${product.itemIdx}">
                        <input type="hidden" class="item_color" th:value="${product.color}">
                    </tr>
                </tbody>
            </table>
<!--            <div th:text="${#lists.size(productList)}"></div>-->
<!--            <div th:text="${productList}"></div>-->
<!--            <div th:text="${productList[0].itemName}"></div>-->
<!--            <div th:text="${productList[0].saleStatus}"></div>-->

            <div class="paginate">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${1 == productList.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" href="#" th:href="@{/admin/itemList(page=${productList.pageable.pageNumber - 1},salestatus=${saleStatus},cmode=${firstCategory},item_name=${itemName})}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                    <li class="page-item" th:classappend="${i == productList.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" href="#" th:href="@{/admin/itemList(page=${i - 1},salestatus=${saleStatus},cmode=${firstCategory},item_name=${itemName})}" th:text="${i}">1</a></li>

                    <li class="page-item" th:classappend="${productList.totalPages == productList.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" href="#" th:href="@{/admin/itemList(page=${productList.pageable.pageNumber + 1},salestatus=${saleStatus},cmode=${firstCategory},item_name=${itemName})}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script src="/js/admin/admin_nav.js"></script>
    <script src="/js/admin/admin_Goodslist.js"></script>
</body>
</html>