<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin changePassword</title>
    <script src="https://kit.fontawesome.com/e6f78261b2.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/admin_nav.css">
    <link rel="stylesheet" href="/css/admin_changePassword.css">
</head>
<body>
    <nav th:replace="admin/admin_nav :: navFragment"></nav>
    <section>
        <div class="basic-info item">
            <div class="item-caption">
                <div class="item-title">관리자 정보 수정</div>
            </div>
            <div class="item-content">
                <div class="form-group">
                    <label class="form-label">변경할 비밀번호</label>
                    <span class="cmode-box">
                        <input type="password" name="password" class="password"><br>
                        영문 대소문자/숫자/특수문자 2가지 이상 조합, 10~16자
                    </span>
                </div>

                <div class="form-group">
                    <label class="form-label">비밀번호 확인</label>
                    <span class="cmode-box">
                        <input type="password" name="password" class="password_ok">
                    </span>
                </div>
            </div>
            <div class="bottombtn">
                <button>변경</button>
            </div>
        </div>
    </section>
    <script src="/js/admin_nav.js"></script>
    <script src="/js/admin_changePassword.js"></script>
</body>
</html>