<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin Goodslist</title>
    <script src="https://kit.fontawesome.com/e6f78261b2.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/admin/admin_nav.css">
    <link rel="stylesheet" href="/css/admin/admin_order.css">
</head>
<body>
    <nav th:replace="admin/admin_nav :: navFragment"></nav>
    <section>
        <form class= "search-form" id="search-form" method="get" action="#">
            <div class="form-group">
                <label class="form-label">주문일자</label>
                <span>
                    <input type="date" name="firstdate" class="date">&nbsp;~ 
                    <input type="date" name="lastdate" class="date">
                </span>
            </div>
            <div class="form-group">
                <label class="form-label">주문상태</label>
                <span>
                    <select name="omode">
                        <option value="PAYWAITING">입금대기</option>
                        <option value="PAYCOMPLETE">결제완료</option>
                        <option value="PRESHIP">발송준비중</option>
                        <option value="INSHIP">배송중</option>
                        <option value="COMPLETESHIP">배송완료</option>
                        <option value="ORDERCANCEL">주문취소</option>
                    </select>
                </span>
            </div>
            <div class="form-group">
                <label class="form-label">검색어</label>
                <span>
                    <select name="smode">
                        <option value="buyer">구매자명</option>
                    </select>
                    <input type="text" name="sinput" class="search-input">
                </span>
            </div>
            <div class="search-submit-box">
                <input type="submit" class="search-submit" value="검색">
            </div>
        </form>

        <div class="order-box">
            <table class="order-table">
                <thead>
                    <tr>
                        <th>구매자</th>
                        <th>주문정보</th>
                        <th>결제금액</th>
                        <th>결제방식</th>
                        <th>주문일자</th>
                        <th>상태</th>
                        <th>변경</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${orderList}">
                        <td th:text = "${order.name}">채창완(sejchae)</td>
                        <td th:text = "${order.itemName}">베이직 카고팬츠</td>
                        <td th:text = "${order.orderPrice}">14000원</td>
                        <td th:text = "${order.payment}">카드결제</td>
                        <td th:text = "${order.orderedAt}">2021-05-03</td>
                        <td>
                            <select name="change-omode" class="omode">
<!--                                <option value="whole">전체</option>-->
                                <option value="PAYWAITING" th:selected="${order.orderStatus == 'PAYWAITING'}">입금전</option>
                                <option value="PRESHIP" th:selected="${order.orderStatus == 'PRESHIP'}">배송준비중</option>
                                <option value="INSHIP" th:selected="${order.orderStatus == 'INSHIP'}">배송중</option>
                                <option value="COMPLETESHIP" th:selected="${order.orderStatus == 'COMPLETESHIP'}">배송완료</option>
                                <option value="ORDERCANCEL" th:selected="${order.orderStatus == 'ORDERCANCEL'}">취소</option>
                                <option value="ORDERCHANGE" th:selected="${order.orderStatus == 'ORDERCHANGE'}">교환</option>
                                <option value="ORDERREFUND" th:selected="${order.orderStatus == 'ORDERREFUND'}">반품</option>
                            </select>
                        </td>
                        <td>
                            <input type="button" value="변경" class="changestatusbtn">
                        </td>
                        <input type="hidden" th:value="${order.orderItemId}" value="1">
                    </tr>
                </tbody>
            </table>
            <div class="paginate">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${1 == orderList.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" href="#" th:href="@{/admin/orderList(page=${orderList.pageable.pageNumber - 1},firstdate=${firstDate},lastdate=${lastDate},omode=${oMode},smode=${sMode},sinput=${sInput})}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                    <li class="page-item" th:classappend="${i == orderList.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" href="#" th:href="@{/admin/orderList(page=${i - 1},firstdate=${firstDate},lastdate=${lastDate},omode=${oMode},smode=${sMode},sinput=${sInput})}" th:text="${i}">1</a></li>

                    <li class="page-item" th:classappend="${orderList.totalPages == orderList.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" href="#" th:href="@{/admin/orderList(page=${orderList.pageable.pageNumber + 1},firstdate=${firstDate},lastdate=${lastDate},omode=${oMode},smode=${sMode},sinput=${sInput})}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script src="/js/admin/admin_nav.js"></script>
    <script src="/js/admin/admin_order.js"></script>
</body>
</html>