<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <script src="https://kit.fontawesome.com/e6f78261b2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/admin_nav.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <nav>
        <div class="side-title"><a href="#">관리자 모드</a></div>
        <ul class="side-menu">
            <li><a href="#">HOME</a></li>
            <li><a href="#">회원관리</a></li>
            <li class="menu-dropdown">
                <a href="#">게시판 관리 <i class="fas fa-chevron-down"></i></a>
                <ul class="dropdown">
                    <li><a href="#">Q&A</a></li>
                    <li><a href="#">Review</a></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
            </li>
            <li class="menu-dropdown">
                <a href="#">상품관리 <i class="fas fa-chevron-down"></i></a>
                <ul class="dropdown hide">
                    <li><a href="#">상품 등록</a></li>
                    <li><a href="#">상품 목록</a></li>
                </ul>
            </li>
            <li><a href='#'>주문관리</a></li>
            <li><a href='#'>운영설정</a></li>
            <li><a href='#'>관리자 정보수정</a></li>
            <li><a href='#'>LOGOUT</a></li>
        </ul>
    </nav>
    <section>
        <div class="recent-order item">
            <div class="item-caption">
                <div class="item-title">최근 주문</div>
                <div>more +</div>
            </div>
            <div class="item-content">
                <table>
                    <thead>
                        <th>구매자</th>
                        <th>상품정보</th>
                        <th>결제금액</th>
                        <th>상태</th>
                    </thead>
                    <tbody>
                        <tr th:each="order : ${orderInfoList}">
                            <td th:text = "${order.name}">채창완</td>
                            <td th:text = "${order.itemName}">홀릭 카고 조거팬츠</td>
                            <td th:text = "${order.orderPrice}+'원'">15,000원</td>
                            <td th:text = "${order.orderStatus}">배송준비중</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="num-visitors item">
            <div class="item-caption">
                <div class="item-title">누적 방문자수</div>
                
            </div>
            <div class="item-content">
<!--                <div th:text = "${num_visitors}">0</div>-->
<!--                <div>명</div>-->
            </div>
        </div>
        <div class="recent-QandA item">
            <div class="item-caption">
                <div class="item-title">Q&A</div>
                <div>more +</div>
            </div>
            <div class="item-content">
                <table>
                    <thead>
                        <th>상품/배송</th>
                        <th>상품정보</th>
                        <th>문의내용</th>
                        <th>작성자</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>상품</td>
                            <td>단가라 셔츠</td>
                            <td>셔츠가 색깔이 어떤...</td>
                            <td>채창완(changdoll)</td>
                        </tr>
                        <tr>
                            <td>배송</td>
                            <td></td>
                            <td>제주도 배송 계획을...</td>
                            <td>배송준비중</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="recent-review item">
            <div class="item-caption">
                <div class="item-title">REVIEW</div>
                <div>more +</div>
            </div>
            <div class="item-content">
<!--                <table>-->
<!--                    <colgroup>-->
<!--                        <col width="15%"/>-->
<!--                        <col width="25%"/>-->
<!--                        <col width="60%"/>-->
<!--                    </colgroup>-->
<!--                    <tr th:each = "review : ${reviewList}">-->
<!--                        <td class="goods-img">-->
<!--                            <img src="/image/리뷰사진.JPG" th:src="@{${review.itemimgpath}}">-->
<!--                        </td>-->
<!--                        <td class="goods-info">-->
<!--                            <div th:text="${review.itemname}">소프트반팔셔츠</div>-->
<!--                            <img src="/image/별점.JPG" th:src="@{${review.starimgpath}}">-->
<!--                        </td>-->
<!--                        <td class="goods-review" th:text="${review.content}">-->
<!--                            키:168 몸무게: 72 구매사이즈: XL 구매색상:카키 상품평: 너무 예뻐...-->
<!--                        </td>-->
<!--                    </tr>-->

<!--                </table>-->
            </div>
        </div>
    </section>
    <script src="/js/admin_nav.js"></script>
</body>
</html>