<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main/category.css">
    <link rel="stylesheet" type="text/css" href="/css/main/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/main/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>category</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/main/header.js"></script>
    <script src="/js/main/nav.js"></script>
</head>
<body>
    <!--header start-->
    <header th:replace="main/header :: main_headerFragment">
    </header>
    <!--header end-->

    <!--section-->
    <section>
        <div class="category_caption" th:text="${categoryname}">자켓/점퍼</div>
        
        <div class="category_list">
            <a href="#" th:href="@{/main/category/outer/jacket}">자켓/점퍼</a>
            <span class="separater">/</span>
            <a href="#" th:href="@{/main/category/outer/cardigan}">가디건</a>
            <span class="separater">/</span>
            <a href="#" th:href="@{/main/category/outer/coat}">코트</a>
            <span class="separater">/</span>
            <a href="#" th:href="@{/main/category/outer/vest}">조끼</a>
            <span class="separater">/</span>
            <a href="#" th:href="@{/main/category/outer/suit}">수트</a>
        </div>

        <div class="product_container">
            <!--item 40개 이상일시 paging 처리-->
            <div class="product_item" th:each="item:${itemList}">
                <div class="product_item_img">
                    <a href="#" th:href="@{/main/product/{itemIdx}(itemIdx=${item.itemIdx})}"><img th:src="@{${item.imgUrl}}" src="img/main_newarrivals/newarrival1.JPG"></a>
                    <div class="product_item_hover">
                        <div class="quickview hoveritem"><i class="far fa-clone" th:onclick="'location.href=\''+ @{/main/product/{itemIdx}(itemIdx=${item.itemIdx})} + '\''"></i></div>
                        <div class="backet hoveritem"><i class="fas fa-shopping-basket" th:onclick="'location.href=\''+ @{/main/basket/{itemIdx}(itemIdx=${item.itemIdx})} + '\''"></i></div>
                        <div class="priview hoveritem"><i class="far fa-sticky-note"></i></div>
                    </div>
                </div>
                <div class="product_item_name"><a href="#" th:href="@{/main/product/{itemIdx}(itemIdx=${item.itemIdx})}" th:text="${item.itemName}">1+1 콕스 텐션 반팔티셔츠(15color)-주문폭주-</a></div>
                <hr/>
                <div class="product_item_price"><b th:text="'₩'+${#numbers.formatInteger(item.price, 0, 'COMMA')}">₩17,000</b></div>
            </div>

        </div>

        <ul class="pagenation">
            <li th:classappend="${1 == itemList.pageable.pageNumber + 1} ? 'disabled'">
                <a href="#" class="prev bracket" th:href="@{/main/category/{firstCategory}(firstCategory=${firstCategory})/{secondCategory}(secondCategory=${secondCategory})(page=${itemList.pageable.pageNumber - 1})}" tabindex="-1" aria-disabled="true">
                    <i class="fas fa-chevron-left"></i> PREV
                </a>
            </li>
            <li th:classappend="${i == itemList.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a href="#" class="pagenum" th:href="@{/main/category/{firstCategory}(firstCategory=${firstCategory})/{secondCategory}(secondCategory=${secondCategory})(page=${i - 1})}" th:text="${i}">1</a>
            </li>
            <li th:classappend="${itemList.totalPages == itemList.pageable.pageNumber + 1} ? 'disabled'">
                <a href="#" class="next bracket" th:href="@{/main/category/{firstCategory}(firstCategory=${firstCategory})/{secondCategory}(secondCategory=${secondCategory})(page=${itemList.pageable.pageNumber + 1})}">
                    NEXT <i class="fas fa-chevron-right"></i>
                </a>
            </li>
        </ul>


    </section>

    <!--nav-->
    <nav th:replace="main/nav :: main_navFragment">
    </nav>

    <!--footer-->
    <footer th:replace="main/footer :: main_footerFragment">
    </footer>

</body>
</html>