<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<footer th:fragment="main_footerFragment">
    <div class="footer_content">
        <div class="footer_content_left">
            <div class="footer_info footer_cs">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> CS CENTER</div>
                <div class="footer_info_content">
                    <b>010-2270-6149</b><br>
                    MON-FRI/ 11:00AM-18:00 PM<br>
                    LUNCH TIME/ 12:00 AM ~ 13:00 PM<br>
                    SAT, SUN, HOLIDAY OFF
                </div>
            </div>
            <div class="footer_info footer_bank">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> BANKING ACCOUNT</div>
                <div class="footer_info_content">
                    우리은행: 1000-000-000000<br>
                    예금주 : 이수형/채창완/김찬우(page27)
                </div>
            </div>
            <div class="footer_info footer_another">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> ANOTHER</div>
                <div class="footer_info_content">
                    구매안전(에스크로)서비스
                </div>
            </div>
        </div>
        <div class="footer_content_right">
            <div class="footer_info footer_addr">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> RETURN ADDRESS</div>
                <div class="footer_info_content">
                    반품 주소: 서울시 송파구 올림픽로 100 잠실APT 265-2041
                </div>
            </div>
            <div class="footer_info footer_about">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> ABOUT US</div>
                <div class="footer_info_content">
                    OUR COMPANY<br>
                    AGREEMENT<br>
                    PRIVACY POLICY[개인정보처리방침]<br>
                    SHOP GUIDE<br>
                    CS CENTER
                </div>
            </div>
            <div class="footer_info footer_company">
                <div class="footer_info_caption"><b style="font-size: 12px;">Ι&nbsp;</b> COMPANY INFO</div>
                <div class="footer_info_content">
                    COMPANY.페이지27
                </div>
            </div>
        </div>
    </div>
    <div class="footer_banner">
        <div class="copyright">
            COPYRIGHT &copy; '페이지27' ALL RIGHTS RESERVED
        </div>
    </div>
</footer>
</html>
