<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/main/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/main/mileage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>mileage</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/main/header.js"></script>
    <script src="/js/main/nav.js"></script>
</head>
<body>
    <!--header start-->
    <header th:replace="main/header :: main_headerFragment">
    </header>
    <!--header end-->

    <!--section-->
    <section>
        <div class="section_caption">
            MILEAGE
        </div>
        <div class="mileage_summary">
            <div class="mileage_summary_left">
                <div class="summary_item">
                    <span><i class="fas fa-chevron-right"></i> <span th:text="${totalmileage}">총 적립금</span></span>
                    <span>2,000원</span>
                </div>
                <div class="summary_item">
                    <span><i class="fas fa-chevron-right"></i> <span th:text="${usedmileage}">사용된 적립금</span></span>
                    <span>0원</span>
                </div>
            </div>
            <div class="mileage_summary_right">
                <div class="summary_item">
                    <span><i class="fas fa-chevron-right"></i> <span th:text="${restmileage}">사용가능 적립금</span></span>
                    <span>2,000원</span>
                </div>
            </div>
        </div>
        <div class="section_content">
            <div class="mileage_caption">
                <div class="mileage_caption_desc">적립내역보기</div>
            </div>
            <div class="mileagelist">
                <div class="mileagelist_content">
                    <table>
                        <colgroup>
                            <col width="15%">
                            <col width="15%">
                            <col width="auto">
                        </colgroup>
                        <thead>
                            <tr>
                                <td>주문날짜</td>
                                <td>적립금</td>
                                <td>내용</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="mileage:${mileageList}">
                                <td th:text="${#dates.format(mileage.date, 'yyyy-MM-dd')}">2021-05-11</td>
                                <td th:text="${mileage.price}+'원'">2,000원</td>
                                <td th:text="${mileage.content}">신규회원 적립금</td>
                            </tr>
                        </tbody>
                    </table>

                    <!--검색결과가 있는 경우 없는 영역-->
<!--                    <div class="nosearch" th:if="${#lists.isEmpty(mileageList)}">-->
<!--                        적립내역이 없습니다.-->
<!--                    </div>-->

                </div>
                <div class="pagenation">
                    <a href="#" class="first bracket">
                        <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#" class="prev bracket">
                        <i class="fas fa-chevron-left"></i> PREV
                    </a>
                    <a href="#" class="pagenums">
                        <span class="pagenum">1</span>
                        <span class="pagenum">2</span>
                        <span class="pagenum">3</span>
                    </a>
                    <a href="#" class="next bracket">
                        NEXT <i class="fas fa-chevron-right"></i>
                    </a>
                    <a href="#" class="last bracket">
                        <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--nav-->
    <nav th:replace="main/nav :: main_navFragment">
    </nav>

    <!--footer-->
    <footer th:replace="main/footer :: main_footerFragment">
    </footer>


</body>
</html>