<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/main/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/main/mypage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>mypage</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/main/header.js"></script>
    <script src="/js/main/nav.js"></script>
</head>
<body>
    <!--header start-->
    <header th:replace="main/header :: main_headerFragment">
    </header>
    <!--header end-->

    <!--section-->
    <section>
        <div class="section_caption">
            MY SHOP
        </div>
        <!--member_type-->
        <div class="member_type">
            <div class="member_type_img"><img src="/image/etc/member.JPG" alt="사진"></div>
            <div class="member_type_desc">
                <div>저희 쇼핑몰을 이용해 주셔서 감사합니다. <b th:text="${member.name}">홍길동</b> 님은 <b th:text="'['+${member.memberGrade}+']'">[일반회원]</b> 이십니다</div>
                <div class="member_milage">
                    가용적립금&nbsp;&nbsp;&nbsp;<b>></b>&nbsp;&nbsp;&nbsp;<b th:text="${#numbers.formatInteger(member.mileage, 0, 'COMMA')} + '원'">2,000원</b>&nbsp;&nbsp;&nbsp;<button onclick="location.href='#'" th:onclick="'location.href=\''+ @{/main/mileage} + '\''">조회</button>
                </div>          
            </div>
        </div>

        <th:block sec:authorize="isAuthenticated()">
            <span sec:authentication="principal.username"></span>님 반가워요!
        </th:block>



        <!--myshop_orderstate-->
        <div class="myshop_orderstate">
            <div class="myshop_orderstate_caption">나의 주문처리 현황 (최근 3개월 기준)</div>
            <div class="myshop_orderstate_container">
                <div class="myshop_orderstate_item">
                    <div class="item_caption">입금전</div>
                    <div class="item_content"><a th:href="@{/main/order/PAYWAITING}" href="" th:text="${orderStatus.payWaitingNum}">0</a></div>
                </div>
                <div class="myshop_orderstate_item">
                    <div class="item_caption">배송준비중</div>
                    <div class="item_content"><a th:href="@{/main/order/PRESHIP}" href="" th:text="${orderStatus.preShipNum}">0</a></div>
                </div>
                <div class="myshop_orderstate_item">
                    <div class="item_caption">배송중</div>
                    <div class="item_content"><a th:href="@{/main/order/INSHIP}" href="" th:text="${orderStatus.inShipNum}">0</a></div>
                </div>
                <div class="myshop_orderstate_item">
                    <div class="item_caption">배송완료</div>
                    <div class="item_content"><a th:href="@{/main/order/COMPLETESHIP}" href="" th:text="${orderStatus.completeShipNum}">0</a></div>
                </div>
                <div class="myshop_orderstate_item last_item">
                    <ul>
                        <li>· 취소 &nbsp;:&nbsp;&nbsp; <span><a th:href="@{/main/order/ORDERCANCEL}" href="#" th:text="${orderStatus.orderCancelNum}">0</a></span></li>
                        <li>· 교환 &nbsp;:&nbsp;&nbsp; <span><a th:href="@{/main/order/ORDERCHANGE}" href="#" th:text="${orderStatus.orderChangeNum}">0</a></span></li>
                        <li>· 반품 &nbsp;:&nbsp;&nbsp; <span><a th:href="@{/main/order/ORDERREFUND}" href="#" th:text="${orderStatus.orderRefundNum}">0</a></span></li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- myshop_main-->
        <div class="myshop_main">
            <div class="myshop_main_item" onclick="location.href=''" th:onclick="'location.href=\''+ @{/main/order} + '\''">
                <div class="item_caption">
                    ORDER
                </div>
                <div class="item_content">
                    <img src="/image/etc/myshop_order.JPG" alt="주문 사진">
                    <div class="item_content_desc">
                        고객님께서 주문하신<br>주문내역을 확인하실 수 있습니다.
                    </div>
                </div>
            </div>
            <div class="myshop_main_item" onclick="location.href=''" th:onclick="'location.href=\''+ @{/main/editdata} + '\''">
                <div class="item_caption">
                    PROFILE
                </div>
                <div class="item_content">
                    <img src="/image/etc/myshop_profile.JPG" alt="자물쇠 사진">
                    <div class="item_content_desc">
                        회원이신 고객님의<br>개인정보를 관리하는 공간입니다.
                    </div>
                </div>
            </div>
            <div class="myshop_main_item" onclick="location.href=''" th:onclick="'location.href=\''+ @{/main/mileage} + '\''">
                <div class="item_caption">
                    MILEAGE
                </div>
                <div class="item_content">
                    <img src="/image/etc/myshop_milage.JPG" alt="적립금 사진">
                    <div class="item_content_desc">
                        적립금은 상품 구매시<br>사용하실 수 있습니다.
                    </div>
                </div>
            </div>
            <div class="myshop_main_item" onclick="location.href=''" th:onclick="'location.href=\''+ @{/main/address} + '\''">
                <div class="item_caption">
                    ADDRESS
                </div>
                <div class="item_content">
                    <img src="/image/etc/myshop_address.JPG" alt="주소 사진">
                    <div class="item_content_desc">
                        자주 사용하는 배송지를 등록하고<br>관리하실 수 있습니다.
                    </div>
                </div>
            </div>
        </div>
        
        
    </section>

    <!--nav-->
    <nav th:replace="main/nav :: main_navFragment">
    </nav>

    <!--footer-->
    <footer th:replace="main/footer :: main_footerFragment">
    </footer>

</body>
</html>