<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main/product.css">
    <link rel="stylesheet" type="text/css" href="/css/main/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/main/nav.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>product</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/main/header.js"></script>
    <script src="/js/main/nav.js"></script>
    <script src="/js/main/product.js"></script>
</head>
<body>
    <!--header start-->
    <header th:replace="main/header :: main_headerFragment">
    </header>
    <!--header end-->

    <!--section-->
    <section>
        <div class="product_container">
            <div class="product_imgbox">
                <img src="img/product/product1.JPG" th:src="@{${item.imgMainUrl}}" alt="상품 메인 사진">
            </div>
            <div class="product_detail">
                <div class="product_caption" th:text="${item.itemName}">
                    브로우 울 체크셔츠(3color)
                </div>
                <div class="product_detailinfo">
                    <div class="form-group">
                        <label>판매가</label>
                        <span th:text="'₩'+${#numbers.formatInteger(item.price, 0, 'COMMA')}">₩35,000</span>
                    </div>
                    <div class="form-group">
                        <label>적립금</label>
                        <span th:text="${item.mileage}+'원(1%)'">350원(1%)</span>
                    </div>
                    <div class="form-group">
                        <label>상품간략설명</label>
                        <span>
                            <font>INFO</font>
                            <div th:text="${item.itemInfo}">
                                톤다운된 매력적인 컬러감의 체크패턴과 따뜻하고 두툼한 원단으로 제작을 한 울 소재의 체크셔츠를 소개합니다. 
                                여유있는 편안한 핏감으로 티셔츠위에 자켓코디는 물론 아우터와 레이어드하여 더욱 따뜻하게 착용이 가능한 활용도 높은 제품입니다.
                                간절기에는 아우터로 활용하기 좋고 겨울 시즌에는 아우터 안에 따뜻한 이너로 착용할 수 있어 높은 활용도를 가진 제품입니다.
                            </div>
                            <font>COLOR</font>
                            <div th:text="${#strings.listJoin(item.colorList,', ')}">
                                베이지, 네이비, 그레이
                            </div>
                            <font th:text="${item.fabric}">FABRIC</font>
                            <div>
                                울 10%, 폴리 90%
                            </div>
                            <font>SIZE</font>
                            <div>
                                FREE size
                            </div>
                            <font>MODEL</font>
                            <div class="modelinfo" th:text="${item.model}">
                                174/64 FREE size 베이지 착용(여유있게 맞았습니다.)
                            </div>

                        </span>
                    </div>
                </div>
                <div class="product_option">
                    <div class="form-group">
                        <label>COLOR</label>
                        <span>
                            <select name="item_color" class="select_color" form="buyform"> <!-- 넘어갈 데이터 -->
                                <option value="00">-[필수] 옵션을 선택해 주세요-</option>
                                <option value="베이지" th:each="color:${item.colorList}" th:text="${color}" th:value="${color}">베이지</option>
                            </select>
                        </span>
                    </div>
                </div>
                <form action="" method="POST" id="buyform" onsubmit="return sendorder()"> <!-- 상품명, 색상, 수량 데이터 전송 -->
                    <input type="hidden" class="price" value="35000" th:value="${item.price}"> <!-- 상품 1개의 가격이다(jquery에서 가격을 뽑기위해 선언)-->
                    <input type="hidden" name="item_idx" value="1" th:value="${item.itemIdx}"> <!-- 넘어갈 데이터 -->
                    <input type="hidden" name="where" value="product"> <!-- 현재 넘어가는 정보는 product 페이지에서 넘어간다 -->
                    <table> <!-- table을 thead와 tbody로 나눠주지 않으면 jquery 정상작동 X-->
                        <colgroup>
                            <col width="60%"/>
                            <col width="20%"/>
                            <col width="20%"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <td>PRODUCT</td>
                                <td>QUANTITY</td>
                                <td class="td_price">PRICE</td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="totalprice_box">
                        ₩ <span class="totalprice">0</span>
                    </div>
                    <div class="min_quantity">
                        (최소주문수량 1개 이상)
                    </div>
                    <div class="formbtn_box">
                        <input type="submit" class="buynowbtn formbtn" formaction="#바로구매" th:formaction="@{/main/payment}" value="바로 구매">
                        <input type="submit" class="gobasketbtn formbtn" formaction="#장바구니" th:formaction="@{/main/product/basketadd_ok}" value="장바구니">
                    </div>
                </form>
                <div class="sns_talk">
                    <button class="naver_talk">궁금할땐 <b>네이버톡톡</b> 하세요!</button>
                    <button class="kakao_talk"><b>카카오톡</b> 상담 @ 아이디</button>
                </div>
            </div>

        </div>
        <div class="product_seperate">
            상품상세정보
        </div>
        <div class="product_imageArea">
            <img src="/image/etc/페이지27-특별한혜택.jpg" alt="특별한 혜택">
            <img src="./img/items/로하 린넨 블레이져 자켓(5color)0.jpg" th:each="imgpath:${item.imgUrlList}" th:src="@{${imgpath}}" alt="상품 사진">
        </div>


    </section>

    <!--nav-->
    <nav th:replace="main/nav :: main_navFragment">
    </nav>

    <!--footer-->
    <footer th:replace="main/footer :: main_footerFragment">
    </footer>

</body>
</html>