<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/members/join" method="POST">
        <table>
            <tr>
                <td>아이디</td>
                <td><input type="text" name="loginId" id=""></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="text" name="password" id=""></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="name" id=""></td>
            </tr>
            <tr>
                <td>휴대전화</td>
                <td>
                    <input type="text" name="phoneNumber[]" id="">-
                    <input type="text" name="phoneNumber[]" id="">-
                    <input type="text" name="phoneNumber[]" id="">
                </td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>
                    <input type="text" name="email" id="">
                </td>
            </tr>
            <tr>
                <td>생년월일</td>
                <td>
                    <input type="text" name="birthday[]" id="">년
                    <input type="text" name="birthday[]" id="">월
                    <input type="text" name="birthday[]" id="">일
                </td>
            </tr>

        </table>
        <input type="submit" 회원가입>
    </form>
</body>
</html>