/*section*/
section {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--section-background-color);
    height: 100%;
}
.item {
    width: 40%;
    background-color: var(--item-background-color);
    border: 1px solid var(--item-border-color);
    padding: 15px 20px;
    margin-bottom: 20px;
}

.item .item-caption {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--table-line-color);
    margin-bottom: 30px;
    color : var(--caption-color);
}

.item .item-caption .item-title {
    font-size: 20px;
    font-weight: bold;
}

.item .item-content {
    color: var(--caption-color);
    font-size: 15px;
}

.item .item-content .form-group {
    display: flex;
    margin-bottom: 20px;
}
.item .item-content .form-group .form-label{
    padding-top: 6px;
    flex-basis: 20%;
    font-weight: bold;
}
.item .item-content .form-group span{
    flex-basis: 80%;
}

.item .bottombtn {
    text-align: center;
}




/*input 요소*/

input[type='password'] {
    height: 35px;
    border: 1px solid var(--input-color);
    width: 90%;
}

.bottombtn button {
    color: var(--nav-font-color);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-blue);
}
.bottombtn button {
    background-color: var(--btn-green);
}

.bottombtn button:hover {
    filter: brightness(80%);
}