spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/project
    username: sa
    password:
    driver-class-name: org.h2.Driver

  mvc:
    hiddenmethod:
      filter:
        enabled: true
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        show_sql: true
        format_sql: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      location: C:/Temp


#logging:
#  level:
#    root: info
#    org.hibernate.SQL: debug
logging:
  level:
    org.springframework: INFO

server:
  max-http-header-size: 40000
